{
    "semi": false,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 99,
    "tabWidth": 4,
    "arrowParens": "always",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrderParserPlugins": [
        "typescript",
        "decorators"
    ],
    "importOrder": [
        "^reflect-metadata$",
        "^@",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}